<a href="https://colab.research.google.com/github/Madhulikabaranwal/Complete-Python-3-Bootcamp/blob/master/R6_Internal_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
import tensorflow as tf

In [38]:
tf.enable_eager_execution

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [39]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/gdrive/My Drive/prices.csv')

In [0]:
from google.colab import drive

### Check all columns in the dataset

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

In [44]:
data.shape

(851264, 7)

### Drop columns `date` and  `symbol`

In [0]:
d=data.drop('date',axis=1)
f=d.drop('symbol',axis=1)

In [46]:
f.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [47]:
A=f.head(1000)
A

           open       close         low        high      volume
0    123.430000  125.839996  122.309998  126.250000   2163600.0
1    125.239998  119.980003  119.940002  125.540001   2386400.0
2    116.379997  114.949997  114.930000  119.739998   2489500.0
3    115.480003  116.620003  113.500000  117.440002   2006300.0
4    117.010002  114.970001  114.089996  117.330002   1408600.0
..          ...         ...         ...         ...         ...
995   63.310001   63.590000   63.240002   63.639999   2133200.0
996   27.160000   26.990000   26.680000   27.299999   1982400.0
997   28.320000   28.770000   28.010000   28.809999  37152800.0
998   44.000000   44.799999   43.750000   44.810001   6568600.0
999   36.080002   37.139999   36.009998   37.230000   5604300.0

[1000 rows x 5 columns]

In [48]:
A['volume']=A['volume']/1000000

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
X=A.drop('volume',axis=1)
y=A[['volume']]

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

#### Convert Training and Test Data to numpy float32 arrays

In [0]:
import numpy as np

X_train = np.array(X_train).astype('float32')
X_test = np.array(X_test).astype('float32')
y_train = np.array(y_train).astype('float32')
y_test = np.array(y_test).astype('float32')

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer()
X_train = transformer.fit_transform(X_train)
X_test = transformer.transform(X_test)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
#We are initializing weights and Bias with Zero
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

2.Define a function to calculate prediction

In [0]:
def prediction(x, w, b):
    
    xw_matmul = tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    
    return y

3.Loss (Cost) Function [Mean square error]

In [0]:
def loss(y_actual, y_predicted):
    
    diff = y_actual - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
def train(x, y_actual, w, b, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [61]:
for i in range(100):
    
    w, b = train(X_train, y_train, w, b)
    print('Current Loss on iteration', i, loss(y_train, prediction(X_train, w, b)))

Current Loss on iteration 0 Tensor("Mean_1:0", shape=(), dtype=float32)
Current Loss on iteration 1 Tensor("Mean_3:0", shape=(), dtype=float32)
Current Loss on iteration 2 Tensor("Mean_5:0", shape=(), dtype=float32)
Current Loss on iteration 3 Tensor("Mean_7:0", shape=(), dtype=float32)
Current Loss on iteration 4 Tensor("Mean_9:0", shape=(), dtype=float32)
Current Loss on iteration 5 Tensor("Mean_11:0", shape=(), dtype=float32)
Current Loss on iteration 6 Tensor("Mean_13:0", shape=(), dtype=float32)
Current Loss on iteration 7 Tensor("Mean_15:0", shape=(), dtype=float32)
Current Loss on iteration 8 Tensor("Mean_17:0", shape=(), dtype=float32)
Current Loss on iteration 9 Tensor("Mean_19:0", shape=(), dtype=float32)
Current Loss on iteration 10 Tensor("Mean_21:0", shape=(), dtype=float32)
Current Loss on iteration 11 Tensor("Mean_23:0", shape=(), dtype=float32)
Current Loss on iteration 12 Tensor("Mean_25:0", shape=(), dtype=float32)
Current Loss on iteration 13 Tensor("Mean_27:0", shape=(), dtype=float32)
Current Loss on iteration 14 Tensor("Mean_29:0", shape=(), dtype=float32)
Current Loss on iteration 15 Tensor("Mean_31:0", shape=(), dtype=float32)
Current Loss on iteration 16 Tensor("Mean_33:0", shape=(), dtype=float32)
Current Loss on iteration 17 Tensor("Mean_35:0", shape=(), dtype=float32)
Current Loss on iteration 18 Tensor("Mean_37:0", shape=(), dtype=float32)
Current Loss on iteration 19 Tensor("Mean_39:0", shape=(), dtype=float32)
Current Loss on iteration 20 Tensor("Mean_41:0", shape=(), dtype=float32)
Current Loss on iteration 21 Tensor("Mean_43:0", shape=(), dtype=float32)
Current Loss on iteration 22 Tensor("Mean_45:0", shape=(), dtype=float32)
Current Loss on iteration 23 Tensor("Mean_47:0", shape=(), dtype=float32)
Current Loss on iteration 24 Tensor("Mean_49:0", shape=(), dtype=float32)
Current Loss on iteration 25 Tensor("Mean_51:0", shape=(), dtype=float32)
Current Loss on iteration 26 Tensor("Mean_53:0", shape=(), dtype=float32)
Current Loss on iteration 27 Tensor("Mean_55:0", shape=(), dtype=float32)
Current Loss on iteration 28 Tensor("Mean_57:0", shape=(), dtype=float32)
Current Loss on iteration 29 Tensor("Mean_59:0", shape=(), dtype=float32)
Current Loss on iteration 30 Tensor("Mean_61:0", shape=(), dtype=float32)
Current Loss on iteration 31 Tensor("Mean_63:0", shape=(), dtype=float32)
Current Loss on iteration 32 Tensor("Mean_65:0", shape=(), dtype=float32)
Current Loss on iteration 33 Tensor("Mean_67:0", shape=(), dtype=float32)
Current Loss on iteration 34 Tensor("Mean_69:0", shape=(), dtype=float32)
Current Loss on iteration 35 Tensor("Mean_71:0", shape=(), dtype=float32)
Current Loss on iteration 36 Tensor("Mean_73:0", shape=(), dtype=float32)
Current Loss on iteration 37 Tensor("Mean_75:0", shape=(), dtype=float32)
Current Loss on iteration 38 Tensor("Mean_77:0", shape=(), dtype=float32)
Current Loss on iteration 39 Tensor("Mean_79:0", shape=(), dtype=float32)
Current Loss on iteration 40 Tensor("Mean_81:0", shape=(), dtype=float32)
Current Loss on iteration 41 Tensor("Mean_83:0", shape=(), dtype=float32)
Current Loss on iteration 42 Tensor("Mean_85:0", shape=(), dtype=float32)
Current Loss on iteration 43 Tensor("Mean_87:0", shape=(), dtype=float32)
Current Loss on iteration 44 Tensor("Mean_89:0", shape=(), dtype=float32)
Current Loss on iteration 45 Tensor("Mean_91:0", shape=(), dtype=float32)
Current Loss on iteration 46 Tensor("Mean_93:0", shape=(), dtype=float32)
Current Loss on iteration 47 Tensor("Mean_95:0", shape=(), dtype=float32)
Current Loss on iteration 48 Tensor("Mean_97:0", shape=(), dtype=float32)
Current Loss on iteration 49 Tensor("Mean_99:0", shape=(), dtype=float32)
Current Loss on iteration 50 Tensor("Mean_101:0", shape=(), dtype=float32)
Current Loss on iteration 51 Tensor("Mean_103:0", shape=(), dtype=float32)
Current Loss on iteration 52 Tensor("Mean_105:0", shape=(), dtype=float32)
Current Loss on iteration 53 Tensor("Mean_107:0", shape=(), dtype=float32)
Current Loss on iteration 54 Tensor("Mean_109:0", shape=(), dtype=float32)
Current Loss on iteration 55 Tensor("Mean_111:0", shape=(), dtype=float32)
Current Loss on iteration 56 Tensor("Mean_113:0", shape=(), dtype=float32)
Current Loss on iteration 57 Tensor("Mean_115:0", shape=(), dtype=float32)
Current Loss on iteration 58 Tensor("Mean_117:0", shape=(), dtype=float32)
Current Loss on iteration 59 Tensor("Mean_119:0", shape=(), dtype=float32)
Current Loss on iteration 60 Tensor("Mean_121:0", shape=(), dtype=float32)
Current Loss on iteration 61 Tensor("Mean_123:0", shape=(), dtype=float32)
Current Loss on iteration 62 Tensor("Mean_125:0", shape=(), dtype=float32)
Current Loss on iteration 63 Tensor("Mean_127:0", shape=(), dtype=float32)
Current Loss on iteration 64 Tensor("Mean_129:0", shape=(), dtype=float32)
Current Loss on iteration 65 Tensor("Mean_131:0", shape=(), dtype=float32)
Current Loss on iteration 66 Tensor("Mean_133:0", shape=(), dtype=float32)
Current Loss on iteration 67 Tensor("Mean_135:0", shape=(), dtype=float32)
Current Loss on iteration 68 Tensor("Mean_137:0", shape=(), dtype=float32)
Current Loss on iteration 69 Tensor("Mean_139:0", shape=(), dtype=float32)
Current Loss on iteration 70 Tensor("Mean_141:0", shape=(), dtype=float32)
Current Loss on iteration 71 Tensor("Mean_143:0", shape=(), dtype=float32)
Current Loss on iteration 72 Tensor("Mean_145:0", shape=(), dtype=float32)
Current Loss on iteration 73 Tensor("Mean_147:0", shape=(), dtype=float32)
Current Loss on iteration 74 Tensor("Mean_149:0", shape=(), dtype=float32)
Current Loss on iteration 75 Tensor("Mean_151:0", shape=(), dtype=float32)
Current Loss on iteration 76 Tensor("Mean_153:0", shape=(), dtype=float32)
Current Loss on iteration 77 Tensor("Mean_155:0", shape=(), dtype=float32)
Current Loss on iteration 78 Tensor("Mean_157:0", shape=(), dtype=float32)
Current Loss on iteration 79 Tensor("Mean_159:0", shape=(), dtype=float32)
Current Loss on iteration 80 Tensor("Mean_161:0", shape=(), dtype=float32)
Current Loss on iteration 81 Tensor("Mean_163:0", shape=(), dtype=float32)
Current Loss on iteration 82 Tensor("Mean_165:0", shape=(), dtype=float32)
Current Loss on iteration 83 Tensor("Mean_167:0", shape=(), dtype=float32)
Current Loss on iteration 84 Tensor("Mean_169:0", shape=(), dtype=float32)
Current Loss on iteration 85 Tensor("Mean_171:0", shape=(), dtype=float32)
Current Loss on iteration 86 Tensor("Mean_173:0", shape=(), dtype=float32)
Current Loss on iteration 87 Tensor("Mean_175:0", shape=(), dtype=float32)
Current Loss on iteration 88 Tensor("Mean_177:0", shape=(), dtype=float32)
Current Loss on iteration 89 Tensor("Mean_179:0", shape=(), dtype=float32)
Current Loss on iteration 90 Tensor("Mean_181:0", shape=(), dtype=float32)
Current Loss on iteration 91 Tensor("Mean_183:0", shape=(), dtype=float32)
Current Loss on iteration 92 Tensor("Mean_185:0", shape=(), dtype=float32)
Current Loss on iteration 93 Tensor("Mean_187:0", shape=(), dtype=float32)
Current Loss on iteration 94 Tensor("Mean_189:0", shape=(), dtype=float32)
Current Loss on iteration 95 Tensor("Mean_191:0", shape=(), dtype=float32)
Current Loss on iteration 96 Tensor("Mean_193:0", shape=(), dtype=float32)
Current Loss on iteration 97 Tensor("Mean_195:0", shape=(), dtype=float32)
Current Loss on iteration 98 Tensor("Mean_197:0", shape=(), dtype=float32)
Current Loss on iteration 99 Tensor("Mean_199:0", shape=(), dtype=float32)

### Get the shapes and values of W and b

In [62]:
#Check Weights and Bias
print('Weights:\n', w)
print('Bias:\n',b)

Weights:
 Tensor("sub_397:0", shape=(4, 1), dtype=float32)
Bias:
 Tensor("sub_398:0", shape=(1,), dtype=float32)

### Model Prediction on 1st Examples in Test Dataset

In [0]:
def prediction(X_test, w, b):
    
    xw_matmul = tf.matmul(X_test, w)
    y = tf.add(xw_matmul, b)
    
    return y

In [0]:
with tf.Session() as sess:
  val_2=(prediction(X_test, w, b).eval())

In [67]:
val_2[0]

array([5.4272947], dtype=float32)

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
data1 = pd.read_csv('/gdrive/My Drive/Iris (2).csv')

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [74]:
pd.get_dummies(data1['Species'])

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [0]:
data1=pd.get_dummies(data1)

In [81]:
data1

      Id  SepalLengthCm  ...  Species_Iris-versicolor  Species_Iris-virginica
0      1            5.1  ...                        0                       0
1      2            4.9  ...                        0                       0
2      3            4.7  ...                        0                       0
3      4            4.6  ...                        0                       0
4      5            5.0  ...                        0                       0
..   ...            ...  ...                      ...                     ...
145  146            6.7  ...                        0                       1
146  147            6.3  ...                        0                       1
147  148            6.5  ...                        0                       1
148  149            6.2  ...                        0                       1
149  150            5.9  ...                        0                       1

[150 rows x 8 columns]

### Splitting the data into feature set and target set

In [0]:
X2 = data1.drop(columns=['Id', 'Species_Iris-setosa', 'Species_Iris-versicolor', 'Species_Iris-virginica'], axis=1)
Y2 = data1[['Species_Iris-setosa', 'Species_Iris-versicolor', 'Species_Iris-virginica']]

In [0]:
X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2, Y2, test_size=0.30, random_state=55)
X2_train_array = X2_train.values
Y2_train_array = Y2_train.values
X2_test_array = X2_test.values
Y2_test_array = Y2_test.values

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
#Initialize Sequential model
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(4,activation='sigmoid'))

#Add Dense Layer which provides 10 Outputs after applying softmax
model.add(tf.keras.layers.Dense(3, activation='softmax'))

#Compile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

### Model Training

In [88]:
model.fit(X2_train_array, Y2_train_array, 
          validation_data=(X2_test_array,Y2_test_array), 
          epochs=100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
Train on 105 samples, validate on 45 samples
Epoch 1/100
105/105 [==============================] - 0s 4ms/sample - loss: 1.5662 - acc: 0.3238 - val_loss: 1.4703 - val_acc: 0.3556
Epoch 2/100
105/105 [==============================] - 0s 134us/sample - loss: 1.5162 - acc: 0.3238 - val_loss: 1.4282 - val_acc: 0.3556
Epoch 3/100
105/105 [==============================] - 0s 114us/sample - loss: 1.4718 - acc: 0.3238 - val_loss: 1.3898 - val_acc: 0.3556
Epoch 4/100
105/105 [==============================] - 0s 111us/sample - loss: 1.4313 - acc: 0.3238 - val_loss: 1.3565 - val_acc: 0.3556
Epoch 5/100
105/105 [==============================] - 0s 104us/sample - loss: 1.3958 - acc: 0.3238 - val_loss: 1.3247 - val_acc: 0.3556
Epoch 6/100
105/105 [==============================] - 0s 101us/sample - loss: 1.3618 - acc: 0.3238 - val_loss: 1.2959 - val_acc: 0.3556
Epoch 7/100
105/105 [==============================] - 0s 100us/sample - loss: 1.3315 - acc: 0.3238 - val_loss: 1.2725 - val_acc: 0.3556
Epoch 8/100
105/105 [==============================] - 0s 131us/sample - loss: 1.3062 - acc: 0.3238 - val_loss: 1.2500 - val_acc: 0.3556
Epoch 9/100
105/105 [==============================] - 0s 101us/sample - loss: 1.2823 - acc: 0.3238 - val_loss: 1.2310 - val_acc: 0.3556
Epoch 10/100
105/105 [==============================] - 0s 96us/sample - loss: 1.2616 - acc: 0.3238 - val_loss: 1.2127 - val_acc: 0.3556
Epoch 11/100
105/105 [==============================] - 0s 91us/sample - loss: 1.2418 - acc: 0.3238 - val_loss: 1.1973 - val_acc: 0.3556
Epoch 12/100
105/105 [==============================] - 0s 96us/sample - loss: 1.2254 - acc: 0.3238 - val_loss: 1.1803 - val_acc: 0.3556
Epoch 13/100
105/105 [==============================] - 0s 86us/sample - loss: 1.2065 - acc: 0.3238 - val_loss: 1.1678 - val_acc: 0.3556
Epoch 14/100
105/105 [==============================] - 0s 97us/sample - loss: 1.1930 - acc: 0.3238 - val_loss: 1.1576 - val_acc: 0.3556
Epoch 15/100
105/105 [==============================] - 0s 95us/sample - loss: 1.1812 - acc: 0.3238 - val_loss: 1.1460 - val_acc: 0.3556
Epoch 16/100
105/105 [==============================] - 0s 100us/sample - loss: 1.1680 - acc: 0.3238 - val_loss: 1.1352 - val_acc: 0.3556
Epoch 17/100
105/105 [==============================] - 0s 103us/sample - loss: 1.1559 - acc: 0.3238 - val_loss: 1.1257 - val_acc: 0.3556
Epoch 18/100
105/105 [==============================] - 0s 105us/sample - loss: 1.1453 - acc: 0.3238 - val_loss: 1.1179 - val_acc: 0.3556
Epoch 19/100
105/105 [==============================] - 0s 105us/sample - loss: 1.1362 - acc: 0.3238 - val_loss: 1.1105 - val_acc: 0.3556
Epoch 20/100
105/105 [==============================] - 0s 102us/sample - loss: 1.1276 - acc: 0.3238 - val_loss: 1.1026 - val_acc: 0.3556
Epoch 21/100
105/105 [==============================] - 0s 104us/sample - loss: 1.1189 - acc: 0.3238 - val_loss: 1.0957 - val_acc: 0.3556
Epoch 22/100
105/105 [==============================] - 0s 139us/sample - loss: 1.1110 - acc: 0.3238 - val_loss: 1.0909 - val_acc: 0.3556
Epoch 23/100
105/105 [==============================] - 0s 158us/sample - loss: 1.1050 - acc: 0.3238 - val_loss: 1.0854 - val_acc: 0.3556
Epoch 24/100
105/105 [==============================] - 0s 87us/sample - loss: 1.0987 - acc: 0.3238 - val_loss: 1.0812 - val_acc: 0.3556
Epoch 25/100
105/105 [==============================] - 0s 118us/sample - loss: 1.0936 - acc: 0.3238 - val_loss: 1.0776 - val_acc: 0.3556
Epoch 26/100
105/105 [==============================] - 0s 116us/sample - loss: 1.0894 - acc: 0.3238 - val_loss: 1.0735 - val_acc: 0.3556
Epoch 27/100
105/105 [==============================] - 0s 124us/sample - loss: 1.0850 - acc: 0.3238 - val_loss: 1.0704 - val_acc: 0.3556
Epoch 28/100
105/105 [==============================] - 0s 109us/sample - loss: 1.0811 - acc: 0.3238 - val_loss: 1.0680 - val_acc: 0.3556
Epoch 29/100
105/105 [==============================] - 0s 82us/sample - loss: 1.0781 - acc: 0.3238 - val_loss: 1.0646 - val_acc: 0.3556
Epoch 30/100
105/105 [==============================] - 0s 90us/sample - loss: 1.0742 - acc: 0.3238 - val_loss: 1.0614 - val_acc: 0.3556
Epoch 31/100
105/105 [==============================] - 0s 93us/sample - loss: 1.0705 - acc: 0.3238 - val_loss: 1.0594 - val_acc: 0.3556
Epoch 32/100
105/105 [==============================] - 0s 93us/sample - loss: 1.0677 - acc: 0.3238 - val_loss: 1.0569 - val_acc: 0.3556
Epoch 33/100
105/105 [==============================] - 0s 107us/sample - loss: 1.0655 - acc: 0.3238 - val_loss: 1.0536 - val_acc: 0.3556
Epoch 34/100
105/105 [==============================] - 0s 111us/sample - loss: 1.0613 - acc: 0.3238 - val_loss: 1.0521 - val_acc: 0.3556
Epoch 35/100
105/105 [==============================] - 0s 110us/sample - loss: 1.0594 - acc: 0.3238 - val_loss: 1.0503 - val_acc: 0.3778
Epoch 36/100
105/105 [==============================] - 0s 111us/sample - loss: 1.0572 - acc: 0.3238 - val_loss: 1.0480 - val_acc: 0.4000
Epoch 37/100
105/105 [==============================] - 0s 98us/sample - loss: 1.0541 - acc: 0.3238 - val_loss: 1.0459 - val_acc: 0.4222
Epoch 38/100
105/105 [==============================] - 0s 111us/sample - loss: 1.0516 - acc: 0.3333 - val_loss: 1.0436 - val_acc: 0.4444
Epoch 39/100
105/105 [==============================] - 0s 122us/sample - loss: 1.0493 - acc: 0.3429 - val_loss: 1.0422 - val_acc: 0.4889
Epoch 40/100
105/105 [==============================] - 0s 123us/sample - loss: 1.0476 - acc: 0.3429 - val_loss: 1.0403 - val_acc: 0.4889
Epoch 41/100
105/105 [==============================] - 0s 105us/sample - loss: 1.0452 - acc: 0.4000 - val_loss: 1.0388 - val_acc: 0.4889
Epoch 42/100
105/105 [==============================] - 0s 106us/sample - loss: 1.0436 - acc: 0.4286 - val_loss: 1.0368 - val_acc: 0.4889
Epoch 43/100
105/105 [==============================] - 0s 108us/sample - loss: 1.0413 - acc: 0.4571 - val_loss: 1.0353 - val_acc: 0.5111
Epoch 44/100
105/105 [==============================] - 0s 103us/sample - loss: 1.0399 - acc: 0.4571 - val_loss: 1.0338 - val_acc: 0.5333
Epoch 45/100
105/105 [==============================] - 0s 104us/sample - loss: 1.0380 - acc: 0.4762 - val_loss: 1.0324 - val_acc: 0.5333
Epoch 46/100
105/105 [==============================] - 0s 105us/sample - loss: 1.0366 - acc: 0.5048 - val_loss: 1.0308 - val_acc: 0.5333
Epoch 47/100
105/105 [==============================] - 0s 110us/sample - loss: 1.0352 - acc: 0.4857 - val_loss: 1.0297 - val_acc: 0.5111
Epoch 48/100
105/105 [==============================] - 0s 109us/sample - loss: 1.0332 - acc: 0.5619 - val_loss: 1.0281 - val_acc: 0.5556
Epoch 49/100
105/105 [==============================] - 0s 101us/sample - loss: 1.0314 - acc: 0.6095 - val_loss: 1.0263 - val_acc: 0.5333
Epoch 50/100
105/105 [==============================] - 0s 101us/sample - loss: 1.0296 - acc: 0.6286 - val_loss: 1.0246 - val_acc: 0.5333
Epoch 51/100
105/105 [==============================] - 0s 104us/sample - loss: 1.0279 - acc: 0.6190 - val_loss: 1.0231 - val_acc: 0.5111
Epoch 52/100
105/105 [==============================] - 0s 107us/sample - loss: 1.0266 - acc: 0.6190 - val_loss: 1.0219 - val_acc: 0.5111
Epoch 53/100
105/105 [==============================] - 0s 113us/sample - loss: 1.0248 - acc: 0.6286 - val_loss: 1.0206 - val_acc: 0.5111
Epoch 54/100
105/105 [==============================] - 0s 111us/sample - loss: 1.0235 - acc: 0.6476 - val_loss: 1.0191 - val_acc: 0.5111
Epoch 55/100
105/105 [==============================] - 0s 92us/sample - loss: 1.0219 - acc: 0.6286 - val_loss: 1.0179 - val_acc: 0.5333
Epoch 56/100
105/105 [==============================] - 0s 89us/sample - loss: 1.0202 - acc: 0.6476 - val_loss: 1.0163 - val_acc: 0.5556
Epoch 57/100
105/105 [==============================] - 0s 90us/sample - loss: 1.0185 - acc: 0.6476 - val_loss: 1.0146 - val_acc: 0.5556
Epoch 58/100
105/105 [==============================] - 0s 104us/sample - loss: 1.0166 - acc: 0.6476 - val_loss: 1.0133 - val_acc: 0.5333
Epoch 59/100
105/105 [==============================] - 0s 88us/sample - loss: 1.0148 - acc: 0.6000 - val_loss: 1.0118 - val_acc: 0.5333
Epoch 60/100
105/105 [==============================] - 0s 84us/sample - loss: 1.0136 - acc: 0.6000 - val_loss: 1.0109 - val_acc: 0.5111
Epoch 61/100
105/105 [==============================] - 0s 97us/sample - loss: 1.0119 - acc: 0.5619 - val_loss: 1.0101 - val_acc: 0.5111
Epoch 62/100
105/105 [==============================] - 0s 102us/sample - loss: 1.0105 - acc: 0.5143 - val_loss: 1.0092 - val_acc: 0.4889
Epoch 63/100
105/105 [==============================] - 0s 99us/sample - loss: 1.0093 - acc: 0.5143 - val_loss: 1.0082 - val_acc: 0.4667
Epoch 64/100
105/105 [==============================] - 0s 99us/sample - loss: 1.0078 - acc: 0.5048 - val_loss: 1.0065 - val_acc: 0.4667
Epoch 65/100
105/105 [==============================] - 0s 104us/sample - loss: 1.0063 - acc: 0.5048 - val_loss: 1.0053 - val_acc: 0.4667
Epoch 66/100
105/105 [==============================] - 0s 111us/sample - loss: 1.0050 - acc: 0.5048 - val_loss: 1.0036 - val_acc: 0.4889
Epoch 67/100
105/105 [==============================] - 0s 103us/sample - loss: 1.0034 - acc: 0.5143 - val_loss: 1.0020 - val_acc: 0.4889
Epoch 68/100
105/105 [==============================] - 0s 102us/sample - loss: 1.0021 - acc: 0.5143 - val_loss: 1.0006 - val_acc: 0.4667
Epoch 69/100
105/105 [==============================] - 0s 94us/sample - loss: 1.0004 - acc: 0.5048 - val_loss: 0.9993 - val_acc: 0.4667
Epoch 70/100
105/105 [==============================] - 0s 94us/sample - loss: 0.9988 - acc: 0.5048 - val_loss: 0.9978 - val_acc: 0.4889
Epoch 71/100
105/105 [==============================] - 0s 94us/sample - loss: 0.9978 - acc: 0.5143 - val_loss: 0.9964 - val_acc: 0.4889
Epoch 72/100
105/105 [==============================] - 0s 92us/sample - loss: 0.9964 - acc: 0.5143 - val_loss: 0.9951 - val_acc: 0.4889
Epoch 73/100
105/105 [==============================] - 0s 94us/sample - loss: 0.9951 - acc: 0.5143 - val_loss: 0.9939 - val_acc: 0.4889
Epoch 74/100
105/105 [==============================] - 0s 102us/sample - loss: 0.9939 - acc: 0.5143 - val_loss: 0.9925 - val_acc: 0.4667
Epoch 75/100
105/105 [==============================] - 0s 106us/sample - loss: 0.9923 - acc: 0.5048 - val_loss: 0.9909 - val_acc: 0.5111
Epoch 76/100
105/105 [==============================] - 0s 104us/sample - loss: 0.9910 - acc: 0.5238 - val_loss: 0.9898 - val_acc: 0.4889
Epoch 77/100
105/105 [==============================] - 0s 108us/sample - loss: 0.9899 - acc: 0.5143 - val_loss: 0.9890 - val_acc: 0.5556
Epoch 78/100
105/105 [==============================] - 0s 109us/sample - loss: 0.9878 - acc: 0.5333 - val_loss: 0.9877 - val_acc: 0.6667
Epoch 79/100
105/105 [==============================] - 0s 106us/sample - loss: 0.9867 - acc: 0.6286 - val_loss: 0.9870 - val_acc: 0.6889
Epoch 80/100
105/105 [==============================] - 0s 106us/sample - loss: 0.9852 - acc: 0.7238 - val_loss: 0.9855 - val_acc: 0.7333
Epoch 81/100
105/105 [==============================] - 0s 127us/sample - loss: 0.9842 - acc: 0.7333 - val_loss: 0.9840 - val_acc: 0.7333
Epoch 82/100
105/105 [==============================] - 0s 109us/sample - loss: 0.9823 - acc: 0.7810 - val_loss: 0.9826 - val_acc: 0.7333
Epoch 83/100
105/105 [==============================] - 0s 109us/sample - loss: 0.9814 - acc: 0.8000 - val_loss: 0.9813 - val_acc: 0.7556
Epoch 84/100
105/105 [==============================] - 0s 102us/sample - loss: 0.9800 - acc: 0.7905 - val_loss: 0.9799 - val_acc: 0.7556
Epoch 85/100
105/105 [==============================] - 0s 106us/sample - loss: 0.9788 - acc: 0.8000 - val_loss: 0.9786 - val_acc: 0.7556
Epoch 86/100
105/105 [==============================] - 0s 95us/sample - loss: 0.9774 - acc: 0.8095 - val_loss: 0.9775 - val_acc: 0.7556
Epoch 87/100
105/105 [==============================] - 0s 89us/sample - loss: 0.9762 - acc: 0.8095 - val_loss: 0.9768 - val_acc: 0.7111
Epoch 88/100
105/105 [==============================] - 0s 161us/sample - loss: 0.9748 - acc: 0.7714 - val_loss: 0.9758 - val_acc: 0.7111
Epoch 89/100
105/105 [==============================] - 0s 112us/sample - loss: 0.9734 - acc: 0.7524 - val_loss: 0.9745 - val_acc: 0.7111
Epoch 90/100
105/105 [==============================] - 0s 124us/sample - loss: 0.9723 - acc: 0.7524 - val_loss: 0.9730 - val_acc: 0.7111
Epoch 91/100
105/105 [==============================] - 0s 112us/sample - loss: 0.9707 - acc: 0.7619 - val_loss: 0.9719 - val_acc: 0.7111
Epoch 92/100
105/105 [==============================] - 0s 153us/sample - loss: 0.9693 - acc: 0.7429 - val_loss: 0.9706 - val_acc: 0.7111
Epoch 93/100
105/105 [==============================] - 0s 97us/sample - loss: 0.9680 - acc: 0.7333 - val_loss: 0.9691 - val_acc: 0.7111
Epoch 94/100
105/105 [==============================] - 0s 90us/sample - loss: 0.9668 - acc: 0.7333 - val_loss: 0.9676 - val_acc: 0.7111
Epoch 95/100
105/105 [==============================] - 0s 92us/sample - loss: 0.9656 - acc: 0.7810 - val_loss: 0.9662 - val_acc: 0.7111
Epoch 96/100
105/105 [==============================] - 0s 107us/sample - loss: 0.9641 - acc: 0.7905 - val_loss: 0.9649 - val_acc: 0.7111
Epoch 97/100
105/105 [==============================] - 0s 97us/sample - loss: 0.9628 - acc: 0.7714 - val_loss: 0.9635 - val_acc: 0.7333
Epoch 98/100
105/105 [==============================] - 0s 95us/sample - loss: 0.9616 - acc: 0.7905 - val_loss: 0.9621 - val_acc: 0.7333
Epoch 99/100
105/105 [==============================] - 0s 104us/sample - loss: 0.9601 - acc: 0.8000 - val_loss: 0.9609 - val_acc: 0.7333
Epoch 100/100
105/105 [==============================] - 0s 102us/sample - loss: 0.9588 - acc: 0.8000 - val_loss: 0.9594 - val_acc: 0.7333

### Model Prediction

In [89]:
model.predict(X2_test_array)

array([[0.40538815, 0.36303583, 0.23157594],
       [0.419497  , 0.36965063, 0.21085232],
       [0.3980898 , 0.3575214 , 0.24438877],
       [0.2629319 , 0.32094604, 0.41612205],
       [0.24998133, 0.31610286, 0.43391582],
       [0.4078006 , 0.36303824, 0.22916108],
       [0.25341076, 0.3175984 , 0.4289908 ],
       [0.26394978, 0.32145157, 0.4145986 ],
       [0.40533322, 0.36625546, 0.2284113 ],
       [0.41097146, 0.3661166 , 0.222912  ],
       [0.4110605 , 0.35774785, 0.23119162],
       [0.2790411 , 0.3279181 , 0.39304078],
       [0.24289466, 0.31109843, 0.4460069 ],
       [0.40538815, 0.36303583, 0.23157594],
       [0.25352383, 0.31853   , 0.42794624],
       [0.26983142, 0.3253841 , 0.4047845 ],
       [0.30566418, 0.3414015 , 0.35293433],
       [0.40876704, 0.3637856 , 0.22744742],
       [0.31496206, 0.34311768, 0.34192023],
       [0.26355863, 0.32007906, 0.41636232],
       [0.28219268, 0.331386  , 0.38642135],
       [0.269333  , 0.32473823, 0.40592873],
       [0.2746187 , 0.32476225, 0.400619  ],
       [0.26673326, 0.32721528, 0.4060515 ],
       [0.29981863, 0.34016198, 0.3600194 ],
       [0.31687534, 0.34719703, 0.33592764],
       [0.2521413 , 0.3161447 , 0.431714  ],
       [0.30585232, 0.34095946, 0.3531882 ],
       [0.2533531 , 0.31791317, 0.42873374],
       [0.28836727, 0.33258328, 0.37904945],
       [0.3942456 , 0.35892254, 0.24683188],
       [0.4084232 , 0.36451384, 0.22706296],
       [0.25089088, 0.31801298, 0.4310961 ],
       [0.28046954, 0.33259797, 0.38693243],
       [0.39763683, 0.36091408, 0.24144906],
       [0.31586793, 0.3464012 , 0.3377308 ],
       [0.29456803, 0.3333607 , 0.37207127],
       [0.40615067, 0.36430508, 0.22954427],
       [0.2808797 , 0.3327856 , 0.38633466],
       [0.30992812, 0.34377027, 0.34630165],
       [0.27219048, 0.3248487 , 0.40296075],
       [0.39715976, 0.36079606, 0.24204423],
       [0.30323702, 0.33956155, 0.3572015 ],
       [0.4009674 , 0.35746628, 0.24156637],
       [0.32369614, 0.34600386, 0.33030003]], dtype=float32)

### Save the Model

In [0]:
model.save('Iris.h5')

In [0]:
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)
model.compile(optimizer=sgd_optimizer, loss='mse')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?